/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;
}

/* Header */
header {
    background-color: rgb(255, 179, 179);
}

/* Main */
main {
    background-color: rgb(175, 202, 255);
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: rgb(181, 255, 180);
}